<div class="surface-card shadow-2 border-round">
  <div class="flex justify-content-between align-items-center p-3 pb-0">
    <span class="text-xl text-900 font-medium">Map</span>
    <div>
      <button pbutton="" pripple="" icon="pi pi-ellipsis-v" class="p-element p-ripple p-button-text p-button-plain p-button-rounded p-button p-component p-button-icon-only"><span class="p-button-icon pi pi-ellipsis-v" aria-hidden="true"></span>
        <span class="p-ink"></span>
      </button>
    </div>
  </div>
  <p-divider></p-divider>
  <div class="pt-0 p-3">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d463878.29488595825!2d46.82252880000001!3d24.725191849999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2f03890d489399%3A0xba974d1c98e79fd5!2sRiyadh%20Saudi%20Arabia!5e0!3m2!1sen!2stn!4v1725241254093!5m2!1sen!2stn" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>
