<div class="surface-card shadow-2 p-3 border-1 border-50 h-5rem border-round">
  <div class="flex justify-content-start align-items-center ">
    <div class="flex align-items-center justify-content-center mr-3" style="width: 2.5rem; height: 2.5rem;">
      <img src="/assets/images/counters/{{ counter.key }}.svg" alt="{{ counter.name }}">
    </div>
    <div>
      <span class="block text-900 font-normal text-xs	mb-1">{{ counter.name }}</span>
      <div class="text-900 font-semibold text-2xl">{{ counter.value }}</div>
    </div>

  </div>
</div>
